<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="#">
    {% csrf_token %}
<div style="background-color:violet; height:550px;">




    <img src="{% static 'web/images/back.jpg' %}"   style="width:1250px;  height:400px;">
    <h1 style="text-align:center; color:black; font-family:cursive; margin-top:10px;">{{customer.name}}</h1>
    <button type="submit" style="margin-left:540px;
     width:180px;
     height:50px;
     border:none;
     font-weight:600;
     font-family:cursive;
     background-color:grey;
     color:black; border-radius:5px; button-hover:black;">Start payment</button>

 </div>



    </form>
<script src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_mg4QhrcnLZxkwq"
    data-amount="{{pay_str}}"
    data-currency="INR"
    data-order_id="{{payment.order_id}}"
    data-buttontext=""
    data-name="Fur"
    data-description="Your description"
    data-image=""
    data-prefill.name="abc"
    data-prefill.email="abc@gmail.com"
    data-theme.color="#4badeb"
 >

</script>

</body>
</html>